*{
    margin: 0;
    padding:0;
    font-size:0;
}

@font-face {
    font-family: "典黑";
    src: url("../font/典黑.woff2") format("woff2"),
         url("../font/典黑.woff") format("woff"),
         url("../font/典黑.ttf") format("truetype"),
         url("../font/典黑.eot") format("embedded-opentype"),
         url("../font/典黑.svg") format("svg");
  }
a{
    text-decoration: none;
}
a:link,a:visited{
    color:#666;
}

body{
    font-family:"典黑";
    color:#666;
}

.main{
    width:1200px;
    height:500px;
    margin:30px auto;
    position: relative;
    /* overflow: hidden; */
}

/* 导航条部分  */
.index{
    width:1200px;
    height:40px;
    position: absolute;
    
}
.index div{
    position: inline-block;
    width:300px;
    float: left;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
    padding:9px 0px; 
    cursor: pointer;
    
}
.active_index{
    background-color:#FFCC00;
    font-weight: bolder;
}




/* 轮播图片部分 */
.banner{
    width:1200px;
    height:460px;
    position: relative;;
    top:40px;
    overflow: hidden;
}
.banner-slide{
    width:1200px;
    height:460px;
    background-repeat:no-repeat;
    float:left;
    display: none;
}
.active_pic{
    display: block;
}

.banner-1{
    background-image: url(../img/1.jpg);
}
.banner-2{
    background-image: url(../img/3.jpg);
}
.banner-3{
    background-image: url(../img/4.jpg);
}
.banner-4{
    background-image: url(../img/5.jpg);
}

